{% extends "base.html" %}
{% block content %}
    <h2>タスク詳細ページ</h2><br>
    <table class="table table-bordered">
        <tbody>
            <tr>
                <td>タイトル</td>
                <td>{{task.title}}</td>
            </tr>
            <tr>
                <td>期限</td>
                <td>{{task.deadline|date:"Y/m/d H:i"}}</td>
            </tr>
            <tr>
                <td>内容</td>
                <td>{{task.content|linebreaksbr}}</td>
            </tr>
            <tr>
                <td>状態</td>
                <td>
                    {% if task.done_flag == True %}
                        実行済み
                    {% else %}
                        未実行
                    {% endif %}
                </td>
            </tr>
        </tbody>
    </table>
    <p>
        {% if task.done_flag == True %}
            <a href="{% url 'app1:task_done' task.id  request.session.page %}">taskを未実行にする</a>
        {% else %}
            <a href="{% url 'app1:task_done' task.id request.session.page  %}">taskを実行済みにする</a>
        {% endif %}
    </p>
    <p><a href="{% url 'app1:task_update' task.id %}">タスクを編集する</a></p>
    <p><a href="#" onclick="confirmDestroy()">タスクを削除する</a></p>
    <form method="post" action="{% url 'app1:task_destroy' task.id %}">
        {% csrf_token %}
    </form>
    <script>
        function confirmDestroy() {
            if(confirm("本当に削除してよろしいですか？")) {
                document.forms[1].submit();
            }
        }
    </script>
{% endblock %}