{% extends "base.html" %}
{% block content %}
    
    <form method="post" action="{% url 'app1:siteUser_register' %}">
        {% for item in form %}
            <div class="form-group">
                <label>{{item.field.label}}</label>
                <input 
                    type="{{ item.field.widget.input_type }}" 
                    name="{{item.name}}" 
                    class="form-control {% if item.errors %} is-invalid{% endif %}" 
                    value="{% if item.value is not None %}{{item.value}}}{% endif %}">
                {% if item.errors %}
                    <div class="invalid-feedback">{{item.errors.0}}</div>
                {% endif %}
            </div>
        {% endfor %}
        {% csrf_token %}
        <button type="submit" class="btn btn-primary mb-2">登録</button>
    </form>

{% endblock %}